@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-Regular.ttf') format('truetype'),
         url('/static/font/Poppins-Regular.woff2') format('woff2'); /* Add .woff2 if you have it */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/font/Poppins-Bold.ttf') format('truetype'),
         url('/static/font/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* Apply Poppins font to the entire body */
body {
    font-family: 'Poppins', sans-serif;
}

/* You can apply the font to specific elements as needed */
h1, h2, h3, .navbar, .chatbot-header {
    font-family: 'Poppins', sans-serif;
}

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50px;
}
.chatbot-icon i {
    font-size: 30px;
}


/* Chatbot Popup */
.chatbot-popup {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 3;
}

/* Header */
.chatbot-header {
    background-color: #ced4da;
    color: #000;
    padding: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 0px solid;
    text-align: center;
}

/* Body */
.chatbot-body {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

/* Footer */
.chatbot-footer {
    padding: 10px;
    display: flex;
}

#user-message {
    width: 80%;
    padding: 5px;
}

#send-message {
    margin-left: auto;
}

.chatbot-messages {
    margin-bottom: 10px;
}

.user-message {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.bot-message {
    background-color: #e1f7d5;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #212529;
    color: white;
    z-index: 0; /* Ensure this is below the standing-photo */
}

.nav-link {
    color: #f8f9fa; /* Light text */
    font-weight: 500;
}

.nav-link:hover {
    color: #dc3545; /* Highlight on hover */
}

.navgoods a {
    font-size: 1.5rem;
    font-weight: bold;
}


.main-content {
    position: relative;
    padding: 50px;
    margin-top: 90px;
    height: 90vh;
    z-index: 1;
}

.standing-photo {
    position: absolute;
    left: 170px;
    top: 0;
    width: 400px;
    height: auto;
    z-index: 3;
}

.intro {
    position: absolute;
    top: 0;
    left: 600px;
    width: 20%;
    z-index: 2;
}

.h1-intro {
    margin-top: 50px;
    width: 20%;
}

.second-content {
    margin-top: 0;
}

.education-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-center p {
    margin-top: 10px;
    font-size: 1.1rem;
}

.inside-second-content-one {
    position: relative;
    margin-top: 50px;
    padding: 100px;
    color: white;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;
}


.about-me {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 50px;
    text-indent: 50px;
}

.skills {
    padding: 20px;
    display: flex;
    gap: 10px;

}

.skills-items {
    width: 50%;
    border: 1px solid #212529;
    padding: 25px;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
}

.skills-items img{
    width: auto;
    height: 50px;
    margin-right: 10px;
}

.projects-items {
    padding: 50px;
    width: 50%;
}

.projects-items-mobile {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 25px;
    width: 100%;
    max-width: 100%;
}

.roadguard {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 100px;
}

.mobile {
    height: 400px;
    width: auto;
    border-radius: 25px;
}

.web {
    width: 400px;
    height: auto;
    border: 1px solid #adb5bd; 
}

.inside-second-content{
    margin-top: 50px;
    background:linear-gradient(to bottom, #fff, #f8f9fa, #adb5bd, #212529);
    height: 200vh;
}

.third{
    background-color: #212529;
}
.third-content {
    background-color: #212529;
    padding: 50px;
}

.cv {
    width: 400px;
    height: auto;
    border: 5px solid #212529;
    border-radius: 25px;
}

/* Flip effect */
.flip-container {
    perspective: 1000px;
    width: 400px;
    height: auto;
    cursor: pointer;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.env-image,
.curriculum-image {
    backface-visibility: hidden;
    width: 100%;
    height: auto;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.curriculum-image {
    transform: rotateY(180deg);
}

.flipper.flipped .env-image {
    transform: rotateY(180deg);
}

.flipper.flipped .curriculum-image {
    transform: rotateY(0deg);
}

.few-messages{
    margin-left: 150px;
    text-align: center;
}

.few-messages i{
    font-size: 90px;
}

.contact-details {
    text-align: center;
    margin-left: 150px;
}
.contact-details i{
    font-size: 20px;
    margin-right: 20px;
}
.contact-link:hover {
    color: #fff !important;
}
.contact-link:hover i,
.contact-link:hover h4 {
    color: #fff !important;
}

.last{
    background-color: #212529;
    height: 80vh;
}

.text-bold {
    font-weight: bold;
}
.text-black {
    color: #000;
}
.text-gray {
    color: #6c757d;
}